header{
    height: 100%;
}
.header{
    @include flex-between;
    height: 100%;

    &__title{
        position: relative;
        @include flex-align-center;
        gap: 8px;
        &-menu{
            display: block;
            cursor: pointer;

            @media (min-width: 900.2px){
                display: none;
            }
        }
    }

    &__actions{
        @include flex-align-center;

        svg{
            font-size: var(--text-base);
            margin-left: 8px;
            cursor: pointer;
        }
    }
}

.mobileMenu{
    background-color: var(--common-white);
    padding: var(--padding-medium);
    width: 75%;
    transition: all 2s ease;
    min-height: 100vh;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9;

    &__close{
        padding: var(--padding-medium);
        @include flex-align-center;
        position: absolute;
        top: 0;
        right: 0;
        & svg{
            font-size: var(--text-base);
            margin-right: 4px;
        }
    }
}

.displayMenu{
    display: none;
}