.avatar{
    @include rounded(100%);
    width: 30px;
    min-width: 30px;
    height: 30px;
    overflow: hidden;

    &__img{
        object-fit: cover;
        width: 100%;
        height: 30px;
    }
}