.navImage{
    color: var(--common-black);
    font-size: var(--text-note);
    font-style: italic;
    display: flex;
    align-items: center;
    gap: 8px;
    
    & img{
        @include rounded(100%);
        width: 35px;
        height: 35px;
        object-fit: cover;
        object-position: center center;
    }
    
}