// mixins

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
}

@mixin flex-align-center {
    display: flex;
    align-items: center;
}

@mixin rounded($radius) {
    -webkit-border-radius: $radius;
    -moz-border-raidus: $radius;
    border-radius: $radius;
}

@mixin shadow($x, $y, $blur, $color) {
    -webkit-box-shadow: $x $y $blur $color;
    -moz-box-shadow: $x $y $blur $color;
    box-shadow: $x $y $blur $color;
}

@mixin border-box {
    -webkit-box-sizing:  border-box;
    -moz-box-sizing:  border-box;
    box-sizing: border-box;
}