:root {
    /* content space */
    --space-2xs: 2px;
    --space-xs: 5px;
    --space-s: 10px;
    --space-m: 20px;
    --space-l: 40px;
    --space-xl: 80px;
    --space-2xl: 160px;
    /* end content space */

    /* paddings */
    --padding-small: 4px;
    --padding-medium: 8px;
    --padding-large: 12px;
    /* end paddings */
}