:root{

    /* family */
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Noto Sans", sans-serif;

    /* size */
    --text-2xs: 10px;
    --text-xs: 12px;
    --text-s: 14px;
    --text-base: 16px;
    --text-m: var(--text-base);
    --text-l: 18px;
    --text-xl: 20px;
    --text-2xl: 24px;
    --text-3xl: 32px;
    --text-4xl: 48px;
    --text-5xl: 64px;

    @media (max-width: 900px) {
        /* size */
        --text-2xs: 8px;
        --text-xs: 10px;
        --text-s: 12px;
        --text-base: 14px;
        --text-m: var(--text-base);
        --text-l: 16px;
        --text-xl: 18px;
        --text-2xl: 20px;
        --text-3xl: 24px;
        --text-4xl: 32px;
        --text-5xl: 42px;
    }
}