:root{
    $text-2xs: 10px;
    $text-xs: 12px;
    $text-s: 14px;
    $text-base: 16px;
    $text-m: var($text-base);
    $text-l: 18px;
    $text-xl: 20px;
    $text-2xl: 24px;
    $text-3xl: 32px;
    $text-4xl: 48px;
    $text-5xl: 64px;
}