//base grid

#layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
  .grid {
    display: grid;
    grid-template-columns: var(--grid-main);
    grid-auto-rows: min-content;
    grid-gap: 0 var(--grid-gap);
  }
  