//base typo
:root{
    font-family: var(--main-font);
}

.primary-font {
    font-family: var(--main-font);
    font-weight: normal;
}
.secondary-font {
    font-family: var(--secondary-font);
    font-weight: normal;
}
.text-jumbo {
    font-size: var(--text-jumbo);
  }
  
  .text-display {
    font-size: var(--text-display);
  }
  
  .text-headline {
    font-size: var(--text-headline);
  }
  
  .text-title {
    font-size: var(--text-title);
  }
  
  .text-subheader {
    font-size: var(--text-subheader);
  }
  
  .text-body {
    font-size: var(--text-base);
  }
  
  .text-caption {
    font-size: var(--text-caption);
  }
  
  .text-note {
    font-size: var(--text-note);
  }